# Node.js dependencies
backend/node_modules/
frontend/node_modules/
.env
package-lock.json
yarn.lock

# Build folders
backend/dist/
frontend/build/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log
